@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}
.background {
  background-position: center 225px;
}
input[type="password"] {
  -webkit-text-security: square;
}
.direction {
  direction: ltr;
}
.direction input::placeholder {
  direction: rtl !important;
}
